<li class='row top-level'>
  <div class='col-md-4'><%= clan.name %></div>
  <div class='col-md-4'><%= clan.description %></div>
  <div class='col-md-4'><%= button_to "Join #{clan.name}", clan_join_path(clan), class: 'full-width-black-button' %></div>
</li>