@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import 'bootstrap-sprockets';
@import 'bootstrap';

html { 
  background: url('dark-black-website-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding-top: 50px;
}

body, .container {
  background-color: transparent;
  font-family: 'Ubuntu Condensed', sans-serif;;
}

.nav {
  li {
    font-size: 30px;
  }
  #thankyoupoints {
    line-height: 20px;
    padding: 15px 0;
  }
}

.feature-box {
  border: 5px solid white;
  padding: 3px 10px;
  color: black;
  background-color: white;
  margin: 50px 0 10px 0;
}

.feature-button {
  display: block;
  padding: 5px;
  border: 5px solid white;
  color: white;
  text-align: center;
  font-size: 250%;
  line-height: 1;
}

.feature-button:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.form-box {
  border: 5px solid white;
  padding: 5px 10px;
  color: white;
  margin: 50px 0 10px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  li {
    border-bottom: 1px dotted white;
    padding-bottom: 5px;
  }
  #bid_amount {
    height: 30px;
    color: black;
    margin-left: 3px;
  }
  #help_first_step {
    h3 {
      margin-top: 0;
    }
    label {
      font-size: 150%;
      font-weight: normal;
    }
    input {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
  }
  #help_second_step {
    label {
      font-size: 175%;
      margin: 0;
      font-weight: normal;
    }
    textarea {
      width: 100%;
      color: black;
      margin-bottom: 7px;
    }
  }
  #help_third_step {
    h3 {
      margin-top: 0;
    }
    select {
      color: black;
      width: 100%;
      font-size: 100%;
      margin-bottom: 10px;
    }
  }
  #clan_first_step {
    h3 {
      margin-top: 0;
      margin-bottom: 5px;
    }
    label {
      font-size: 150%;
      font-weight: normal;
    }
    input {
      color: black;
    }
  }
  #clan_second_step {
    label {
      font-size: 175%;
      margin: 0;
      font-weight: normal;
    }
    textarea {
      width: 100%;
      color: black;
      margin-bottom: 7px;
    }
  }
  #signup_first_step, #signup_second_step, #signup_third_step, #signin_first_step, #signin_second_step {
    label {
      font-size: 150%;
      font-weight: normal;
    }
    input {
      color: black;
    }
  }
  #signup_third_step, #signin_second_step {
    margin-bottom: 3px;
  }
}

.full-width-transparent-button {
  width: 100%;
  padding: 5px;
  border: 5px solid white;
  color: white;
  text-align: center;
  font-size: 250%;
  line-height: 1;
  background-color: transparent;
}

.full-width-transparent-button:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.summary {
  border: 5px solid white;
  padding: 3px 10px;
  color: black;
  background-color: white;
  margin: 50px 0 10px 0;
  ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    margin: 0;
  }
  .top-level {
    border-bottom: 1px dotted black;
  }
}

.full-width-black-button {
  width: 100%;
  margin: 3px 0;
  padding: 2px;
  border: 5px solid black;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 1;
  background-color: black;
  white-space: normal;
}

.full-width-black-button:hover {
  background-color: white;
  border: 5px solid black;
  color: black;
  text-decoration: none;
}

.bid-button {
  width: 100%;
  padding: 5px;
  border: 5px solid white;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  white-space: normal;
}

.bid-button:hover {
  background-color: white;
  border: 5px solid white;
  color: black;
  text-decoration: none;
}